---
title: Home page
description: Intelligent maintenance optimization for your company
image: /images/front/top.jpeg
problem: /images/front/problem.jpeg
philosophy: /images/front/philosophy.jpeg
solution: /images/front/solution.jpeg
benefits: /images/front/benefits.jpeg
bottom_image: /images/bg/team.jpg

problem_text: Identifying root cause to failure is a great challenge in most electromechanical industries. 18%-30% of maintenance is wasted due to lack of good and relevant maintenance practice. In addition upto 30% of maintenance is assumed damaging for the equipment.

videoMP4: /videos/construction.mp4
videoWebM: /videos/construction.webm
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">

	<!--
	<video poster="{% include relative-src.html src=page.image %}" id="bgvid" playsinline autoplay muted loop>
		<source src="{% include relative-src.html src=page.videoWebM %}" type="video/webm">
		<source src="{% include relative-src.html src=page.videoMP4 %}" type="video/mp4">
	</video>
	-->

	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Intelligent maintenance optimization</h1>
			<p class="subtext">Dynamic troubleshooting and maintenance optimizing</p>
			<div class="cta button alt"><a href="/contact/">Contact us</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <br> <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2>Problem</h2>
				<p>{{page.problem_text}}</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=page.problem %}" alt="Problem" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Our Philosophy</h2>
				<p>We believe that the people working closely with the equipment everyday are essential for a good maintenance practice. The input from these workers, their feedback from inspecting, monitoring, troubleshooting and repairing are vital. Analysis are not better than the data put into it.</p>
				<p>This feedback combined with the world class maintenance practice is essential to achieve optimum availability and minimum sustainable cost of operation and maintenance.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=page.philosophy %}" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Our Solution</h2>
				<p>Armin-tech combines all input from practical maintenance work, expert evaluation and sensors together with advanced machine learning to achieve optimal maintenance.</p>
				<p>Faultfinding and optimizing maintenance is made easy and accurate combining all relevant input from maintenance organisation, expert evaluations and sensors together with machine learning.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=page.solution %}" alt="Solution" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2>Benefits</h2>
				<p>Effective troubleshooting with targeting potensial root causes.</p>
				<p>Directly linking feedback from maintenance personnel to optimizing maintenance.</p>
				<p>Effective training and transfer of experiences.</p>
				<p>Effective predicting fault development and residual lifespan.</p>
				<p>Increased commitment and enthusism among workers.</p>
				<p>Effective tool for sparepart analysis.</p>
				<p>Effective benchmarking of equipment across the company.</p>
			</div>
			<div class="image">
				<img src="{% include relative-src.html src=page.benefits %}" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2>Interested?</h2>
				<p class="subtext">Armin-tech seeks highly motivated employees to work in a challenging and highly rewarding environment.</p>
				<p class="subtext">Do you want to be part of Armin-tech AS?</p>
				<div class="cta button alt"><a href="/contact/">Get in touch!</a></div>
			</div>
		</div>
	</section>
</div>
